@media only screen and ( min-width : 600px ) {

  .sideMenuContainer {
    background: rgb(252, 5, 5);
    display: flex;
    flex-direction:row;
    height: 10%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .menuUserDate {
    align-content: center;
    display: flex;
    flex-direction:row;
    height: 100%;
    justify-content: space-between;
    top: 0;
    width: 15%;
  }

  .linkConfig {
    height: 100%;
    width: 50%;
  }

  .buttonConfig {
    background: transparent;
    border-color: transparent;
    height: 100%;
    width: 100%;
  }

  .imgConfig {
    height: 60%;
    width: 60%;
  }

  .name {
    align-self: center;
    color: rgb(248, 242, 230);
    font-family: 'RobotoCondensed Bold', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 42px;
  }

  .menuCenter {
    display: flex;
    flex-direction:column;
  }
  .marvelMenuImage {
    height: 65%;
    border-color: transparent;
  }

  .menuButtonsCenter {
    align-items: center;
    display: flex;
    flex-direction:row;
    height: 100%;
    justify-content: center;
    top: 0;
    width: 100%;
  }


  .menuButtonsRight {
    align-items: center;
    display: flex;
    flex-direction:row;
    height: 100%;
    justify-content: center;
    top: 0;
    width: 15%;
  }

  .buttonMenu {
    background-color: rgb(221, 7, 7);
    border-color: transparent;
    border-radius: 5%;
    color: white;
    font-family: 'RobotoCondensed Bold', sans-serif;
    font-weight: 900;
    font-size: 12px;
    height: 25px;
    margin: 0 2px;
    text-transform: uppercase;
    width: 120px;
  }
}

@media only screen and ( max-width : 600px ) {

  .side-menu-container-adm {
    background: rgb(196, 135, 3);
    display: flex;
    left: 0;
    padding: 0 2%;
    position: fixed;
    top: 0;
    transition: all 0.2s linear;
    width: 100%;
  }

  .topTitleAdm {
    color: rgb(248, 242, 230);
    font-family: Roboto Mono , Menlo , Monaco , Courier , monospace;
    font-size: 30px;
    line-height: 42px;
    margin: 5% 0;
  }

  .menuLateralAdm {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1% 0;
    padding: 0;
    width: 100%;
  }

  .menuButtonAdm {
    margin: 8px 0;
    padding: 0;
  }

  nav a {
    text-decoration: none;
  }

  .buttonLateralAdm {
    background: rgb(255, 174, 0);
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    color: black;
    font-size: 17px;
    margin: 0 1.5%;
    padding: 5px 7px;
  }

  .buttonLateralAdm:hover {
    background: rgb(107, 73, 1);
  }
}
